.header {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
height: 100vh;
padding: 20px;
}

.header-text {
  width: 100%;
  max-width: 800px;
}

.header-text h1 {
  text-transform: uppercase;
}

.header-text p {
  word-spacing: 5px;
}

.header-content {
  width: 100%;
  max-width: 600px;
  height: 60vh;
}



@media screen and (max-width: 1250px) {
  .header-text {
    margin-top: auto;
  }
  .header-content{
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .header-content {
    height: auto;
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    height: auto;
  }
}

